<div class="table-wrapper card">
  @if (registrations$ | async; as registrations;) {
  <h2>Inscrições</h2>
  <div class="table-header">
    <div class="payment-toggle-group">
      <button
        nbButton
        size="small"
        [status]="paymentFilter === 'all' ? 'primary' : 'basic'"
        (click)="setPaymentFilter('all')"
      >
        Todos
      </button>
      <button
        nbButton
        size="small"
        [status]="paymentFilter === 'true' ? 'success' : 'basic'"
        (click)="setPaymentFilter('true')"
      >
        Pagos
      </button>
      <button
        nbButton
        size="small"
        [status]="paymentFilter === 'false' ? 'danger' : 'basic'"
        (click)="setPaymentFilter('false')"
      >
        Pendentes
      </button>
    </div>
    <ng-container>
      <button nbButton status="success" size="small" (click)="exportToCSV()">
        Exportar CSV
      </button>
    </ng-container>
  </div>
  <p-table
    #table
    dataKey="id"
    sortField="childName"
    class="table"
    [value]="filteredRegistrations"
    [sortOrder]="1"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="childName" style="width: 20%">
          <p-sortIcon field="childName" />
          Nome
        </th>
        <th>Idade</th>
        <th>Gênero</th>
        <th>Nome do responsável</th>
        <th>Telefone</th>
        <th>Pagamento confirmado</th>
        <th>Criado em</th>
        <th style="width: 6rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-reg>
      <tr>
        <td>{{ reg.childName }}</td>
        <td>{{ reg.age }}</td>
        <td>{{ reg.gender }}</td>
        <td>{{ reg.responsibleName }}</td>
        <td>{{ reg.responsiblePhone | phoneFormat }}</td>
        <td>{{ reg.paymentConfirmed ? "Sim" : "Não" }}</td>
        <td>{{ reg.createdAt | date : "short" }}</td>
        <td class="refresh-btn">
          <p-toast />
          <p-button
            icon="pi pi-refresh"
            (click)="updatePaymentStatus(reg)"
            severity="secondary"
            rounded
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <div class="loading-container">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </div>
  }
</div>

<ng-template #loading>
  <mat-spinner size="50"></mat-spinner>
</ng-template>
