@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

// Global styles
@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
}

/* Reset margins and basic styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--text-paragraph-font-family);
  background: var(--background-basic-color-1);
}
